
/* errorPage */
.errorPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorPage_content{
    width: 500px;
    text-align: center;
}
.errorPage_content h2{
    font-size: 150px;
}
.errorPage_content p{
    font-size: 40px;
}


/* Translate */
.title{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}
.title h2{
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.language_box{
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
}
.microphone{
    width: 520px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px #00000026;
    background: #6750a40d,#fffbfe;
    padding: 12px 17px;
}
.microphone h3{
    font-size: 20px;
    margin: 6px 0 18px;
}
.text_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
textarea {
    width: 100%; 
    height: 100%; 
    padding: 4px; 
    resize: none; 
    overflow: hidden;
}
.charCount{
    display: flex;
    gap: 10px;
}
.charCount p {
    margin: 0;
    padding-top: 2px;
}
.equipments{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.equipments button{
    height: 20px;
}

.eq_leftside{
    display: flex;
    align-items: center;
    gap: 15px;
}
.eq_leftside img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 2px;
}
/* .translatedText{
    height: 165px; 
    overflow-x: auto;
    margin: 0;
    padding: 4px; 
} */

.languageSelector{
    width: 200px;
    margin-bottom: 10px;
}

/* Translate_file */

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.fileUploadArea {
    width: 100%;
    padding: 20px;
    border: 2px dashed #007BFF;
    border-radius: 10px;
    background-color: #f1f1f1;
    position: relative;
    text-align: center;
}

.fileInput {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.dragDrop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 18px;
    color: #007BFF;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 8px;
}

.processingText {
    color: #FF4500;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.resultText {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 8px;
    resize: none;
    background-color: #f9f9f9;
    overflow: auto;
}

.resultText::placeholder {
    color: #aaa;
}

.description h2{
    font-size: 42px;
}
.description p{
    font-size: 20px;
}


/* ColorPicker */
.color_picker {
    display: flex;
    flex-direction: column;
  }
  
  .color_info {
    margin-top: 20px;
  }
  
  .color_text {
    font-weight: bold;
  }
  
  .reset_button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .reset_button:hover {
    background-color: #c0392b;
  }
  
  canvas {
    width: 100%;
    border: 1px solid #ddd;
  }
  

.color_info {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.color_info p{
    margin: 0;
}
.color_text {
  /* color: inherit; */
}

.color_box {
  width: 100%; 
  height: 20px ;
  border: 1px solid #000;
}

.plusButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4CAF50; /* Мягкий зеленый цвет */
    color: #fff; /* Белый цвет текста */
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plusButton:hover {
    background-color: #45a049; /* Темнее зеленый при наведении */
}

/* FileConverter */
.drag-drop-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .dragging {
    background-color: #e0f7fa;
  }
  
  .dragOver {
    border-color: #007bff;
  }
  