:root {
    --primary-color: #2196F3; 
    --secondary-color: #4CAF50; 
    --text-color: black;
    --background-color: white;
}

/* errorPage */
.errorPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.errorPage_content{
    width: 500px;
    text-align: center;
}
.errorPage_content h2{
    font-size: 150px;
}
.errorPage_content p{
    font-size: 40px;
}


/* Translate */
.title{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 20px;
}
.title_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.title ul li a{
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #00000026;
    background: white;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    border: 1px solid transparent;
    color: black;
}
.title ul li a:hover{
    border: 1px solid #2196F3;
    color: #2196F3;
    transition: 0.1s;
}
.title ul li a p{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 600;
}
.title ul li a span{
    color: #00000090;
    font-size: 14px;
}
.title h3{
    font-size: 40px;
    font-weight: 600;
    color: black;

}
.language_box{
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.microphone{
    width: 525px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px #00000026;
    background: white;
    padding: 12px 17px;
}
.microphone h3{
    font-size: 20px;
    margin: 6px 0 18px;
}
.text_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
textarea {
    width: 100%; 
    height: 100%; 
    padding: 4px; 
    resize: none; 
    overflow: hidden;
}
.charCount{
    display: flex;
    gap: 10px;
}
.charCount p {
    margin: 0;
    padding-top: 2px;
}
.equipments{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.equipments button{
    height: 20px;
}

.eq_leftside{
    display: flex;
    align-items: center;
    gap: 15px;
}
.eq_leftside img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 2px;
}
/* .translatedText{
    height: 165px; 
    overflow-x: auto;
    margin: 0;
    padding: 4px; 
} */

.languageSelector{
    width: 200px;
    margin-bottom: 10px;
}

/* Translate_file */

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.fileUploadArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.uploadButton {
    background-color: #0077ff; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.uploadButton:hover {
    background-color: #2196F3; 
}

.fileInput {
    display: none; 
}

.dragDrop {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.dragDrop small {
    display: block;
    margin-top: 5px;
}
.progress {
    width: 50%;
    height: 25px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress_bar {
    height: 100%;
    background-color: #2196F3;
    color: white;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    border-radius: 5px;
    transition: width 0.2s ease-in-out;
}

.progress_bar span {
    font-size: 14px;
    font-family: Arial, sans-serif;
}


.processingText {
    color: #FF4500;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.resultText {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 8px;
    resize: none;
    background-color: #f9f9f9;
    overflow: auto;
}

.resultText::placeholder {
    color: #aaa;
}
.description{
    margin-top: 100px;
}
.description h2{
    font-size: 40px;
}
.description p{
    font-size: 20px;
}


/* ColorPicker */
.color_picker {
    display: flex;
    flex-direction: column;
  }
  
  .color_info {
    margin-top: 20px;
  }
  
  .color_text {
    font-weight: bold;
  }
  
  .reset_button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .reset_button:hover {
    background-color: #c0392b;
  }
  
  canvas {
    width: 100%;
    border: 1px solid #ddd;
  }
  

.color_info {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.color_info p{
    margin: 0;
}
.color_text {
  /* color: inherit; */
}

.color_box {
  width: 100%; 
  height: 20px ;
  border: 1px solid #000;
}

.plusButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4CAF50; /* Мягкий зеленый цвет */
    color: #fff; /* Белый цвет текста */
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plusButton:hover {
    background-color: #45a049; /* Темнее зеленый при наведении */
}

/* FileConverter */
.drag-drop-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .dragging {
    background-color: #e0f7fa;
  }
  
  .dragOver {
    border-color: #007bff;
  }
  
/* ColorMix */
.resoltColor{
    position: relative;
    margin-bottom: 30px;
}
.resoltColor h2{
    color: white;
    font-size: 20px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.resoltColor h2 span{
    font-size: 22px;
}
.resoltColor_card{
    width: 100%;
    height: 130px;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px #00000026;
}
.colorMix{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.colorMix_input{
    width: 198px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px #00000026;
}
.colorMix_input p{
    padding: 5px 10px 8px;
    box-sizing: border-box;
    margin: 0;
}
.colorMix_input input{
    width: 198px;
    height: 100px;
}
.colorMix_input input[type="color"]::-webkit-color-swatch {
    border: none;
}

.colorMix_text{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.colorMix_text input{
    width: 100%;
    height: 20px;
    padding: 0 15px;
}
.mixing_examples{
    margin-top: 40px;
}
.mixing_examples h3{
    margin-bottom: 30px;
}
.mixing_examples ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.mixing_examples ul span{
    padding: 5px 20px;
    border-radius: 50px;
    cursor: pointer;
}
.red{
    border: 2px solid #ff0000;
}
.blue{  
    border: 2px solid #0000ff;
}
.green{
    border: 2px solid #00ff00;
}
.green2{
    border: 2px solid #008000;
}
.gray{
    border: 2px solid #555555;
}
.purple{
    border: 2px solid #800080;
}
.violet{
    border: 2px solid #5500AA;
}
.turquoise{
    border: 2px solid #008080;
}
.yellow{
    border: 2px solid #FFFF00;
}
.orange{
    border: 2px solid #FF8000;
}
.brown{
    border: 2px solid #804000;
}

/* Setting */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important; 
}


.modal_content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.setting_option {
    margin: 15px 0;
}

.dark_mode {
    background-color: #333;
    color: white;
}
