/* Header */
.header{
    display: none;
}

/* Footer */
.footer{
    padding-top: 23px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.202);
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_content .logo_text{
    margin-bottom: 0;
}
.footer_list{
    display: flex;
    gap: 60px;
}
.footer_menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.social_links{
}
.footer_menu span,
.social_links span{
    color: #191919;
    font-size: 18px;
    font-weight: 500;
}
.footer_menu a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.758);
    font-weight: 600;
    font-size: 16px;
}
.footer_menu a:hover{
    color: #2196F3;
    transition: 0.1s;
}
.social_links ul{
    display: flex;
    gap: 40px;
}


/* LeftSide  */
.leftside {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7f8fc;
    padding-top: 30px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.leftside_content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo_text {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 30px;
    font-weight: bold;
}

.logo_text:hover {
    color: #4CAF50;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menuItem {
    position: relative;
    width: 100%;
}

.menuLink {
    color: #495057;
    font-size: 1rem;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    gap: 10px;
}

.menuItem:hover {
    background-color: #e2e6ea;
}

.menuLink:hover {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

.menuLink i {
    width: 20px;
    font-size: 18px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Active menu item */
.active .menuLink {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 768px) {
    .leftside {
        width: 200px;
    }
    .logo_text {
        font-size: 1rem;
    }
}
